@import "normalize.css";
@import "default.css";
@import "utils.css";

/* Variables */
:root {
  --primary-font: "Raleway", sans-serif;
  --font-size: 16px;

  --background-color: rgb(42, 218, 165);
  --primary-color: #fff;
  --secondary-color: #fb6f90;

  --highlight-color: #fb6f90;
}

html {
  font-size: 10px;
}

body {
  background: rgb(42, 218, 165);
  color: #fff;

  font-family: var(--primary-font);
  font-size: var(--font-size);
}

/* ================================================= NAVBAR ========================================= */
.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list-item {
  margin-right: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-list-link {
  transition: 0.1s all ease-in;
}

.nav-list-link:hover {
  color: var(--highlight-color);
}

.nav-list-item:last-child {
  margin-right: 0;
}

/* ================================================= LOGO ========================================= */
.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 65px;
  height: 65px;

  margin-right: 1rem;
}

.logo-title {
  font-size: 4rem;
}

/* ================================================= FOOTER ======================================== */
.footer {
  margin-top: 5rem;
  text-align: center;
}

.footer-line {
  border: 2px solid var(--highlight-color);
}

.footer-line-primary {
  border-color: var(--primary-color);
}

.footer-text {
  font-size: 3rem;
  font-weight: bold;
}
