.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}

.text-highlight {
  color: var(--highlight-color);
}

.tab {
  padding-right: 5rem;
}

.section {
  padding: 3rem 0;
}

.section.section-primary {
  background: var(--secondary-color);
}

.section-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section-title::after {
  content: "";
  display: block;

  width: 300px;
  height: 3px;
  background: var(--primary-color);

  margin: 0 auto;
  margin-top: 2rem;
}

