.section.section-about {
  padding-bottom: 5rem;
  background: rgb(42,218,165);
  background: linear-gradient(90deg, rgba(42,218,165,1) 0%, rgba(251,111,228,1) 35%, rgba(0,212,255,1) 100%);
}

.about-info {
  margin-top: 5rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-info .about-img {
  margin-right: 5rem;
  border-radius: 5px;

  width: 50vw;
  height: 70vh;
}

.about-info .about-text {
  background-color: var(--background-color);
  color: var(--primary-color);

  padding: 4rem;
  font-size: 3rem;
  height: 100%;
}

.about-history {
  margin-bottom: 5rem;
}