.section.section-contact {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.nav {
  margin-top: 0;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  margin-bottom: 3rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.user-info .user-input input {
  margin-top: 1rem;
  padding: 0.75rem;
  width: 30vw;
  height: 40px;
}

.user-info .user-input-name,
.user-info .user-input-email,
.user-form .user-area-textarea {
  font-size: 2.5rem;
  font-weight: bold;
  
}

.user-form .user-area,
.user-form .user-area textarea {
  width: 100%;
}

.user-form .user-area textarea {
  margin-top: 1rem;
  padding: 1.5rem;
  height: 30vh;
  resize: none;
}

.user-form .user-submit {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2.5rem;
  border: none;
  border-radius: 5px;

  width: 100%;
  padding: 1.5rem 5rem;
  margin-top: 5rem;

  cursor: pointer;
  transition: all .1s;
}

.user-form .user-submit:hover {
  background: var(--background-color);
  color: var(--primary-color);
}
